.citation-list__title {
  @media (max-width: 40rem) {
    padding: 0 $l-size;
  }
}

.citation-list-filter-container {
  display: flex;
  @media (max-width: 40rem) {
    padding: 0 $l-size;
  }
}

.content-container__citation-list {
  margin: 0 auto;
  padding: 0 $l-size;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 130rem;
  @media (max-width: 40rem) {
    padding: 0;
  }
}

.citation-container {
  background: $dark-grey;
  display: flex;
  word-break: break-word;
  border-bottom: $off-white solid 1px;
}

.list-header {
  align-items: center;
  background: $dark-grey;
  border-bottom: 1.5px solid $off-white;
  color: $off-white;
  display: flex;
  word-break: break-word;
}

.citation {  
  padding: $s-size;
  display: flex;
  align-items: center;
  width: 30rem;
}

.list-header__citation {
  padding: $s-size;
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
}

.citation__date {
  padding: $s-size;
  display: flex;
  align-items: center;
  width: 15rem;
  @media (max-width: 50rem) {
    display: none;
  }
}

.list-header__date {
  padding: $s-size;
  display: flex;
  align-items: center;
  width: 15rem;
  @media (max-width: 50rem) {
    display: none;
  }
}

.citation__type {
  padding: $s-size;
  align-items: center;
  display: flex;
  width: 15rem;
  @media (max-width: 50rem) {
    display: none;
  }
}

.list-header__type {
  padding: $s-size;
  align-items: center;
  display: flex;
  width: 15rem;
  @media (max-width: 50rem) {
    display: none;
  }
}

.citation__note {
  padding: $s-size;
  display: flex;
  align-items: center;
  width: 70rem;
}

.list-header__note {
  padding: $s-size;
  display: flex;
  align-items: center;
  width: 70rem;
}

.citation__button {
  background: $dark-grey;
  border: none;
  color: $gold;
  display: flex;
  justify-content: center;
  padding: $s-size;
  text-decoration: none;
}

.list-header__button {
  visibility: hidden;
  padding: $s-size;
}