.content-container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 $m-size;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  flex-grow: 1;
}

.content-container__citation-list {
  @extend .content-container;
  max-width: 130rem;
  flex-grow: 1;
  flex-wrap: wrap;

}