.text-input {
  background: $dark-grey;
  border: 1px solid $off-white;
  color: $off-white;
  font-size: $font-size-medium;
  font-weight: 300;
  margin: 0 auto $s-size auto;
  max-width: 100%;
  padding: $s-size;
  width: 90rem;
}

.text-input::placeholder {
  color: $off-white;
}

.select {
  @extend .text-input;
}

.select-filter {
  @extend .text-input;
  margin-left: $s-size;
  text-align: center;
  justify-content: center;
  width: 10rem;
  @media (max-width: 50rem) {
    display: none;
  }
}

.text-input-filter {
  @extend .text-input;
  width: 30rem;
}

// .textarea {
//   @extend .text-input;
//   height: 10rem;
// }