.text-input {
  background: $dark-grey;
  border: 1px solid $off-white;
  color: $off-white;
  font-size: $font-size-medium;
  font-weight: 300;
  margin: 0 auto $s-size auto;
  max-width: 100%;
  padding: $s-size;
  width: 90rem;
}

.text-input::placeholder {
  color: $off-white;
}

.select {
  background: #323330;
  border: 1px solid #f7f7f7;
  color: #f7f7f7;
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0 auto 1.2rem auto;
  max-width: 100%;
  padding: 1.2rem;
  width: 90rem;
}

.select-filter {
  @extend .text-input;
  margin-left: $s-size;
  text-align: center;
  width: 10rem;
  @media (max-width: 50rem) {
    display: none;
  }
}

.text-input-filter {
  @extend .text-input;
  width: 30rem;
}