.login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.loginTitle {
  display: flex;
  font-size: 50px;
  justify-content: center;
}

.button-login {
  justify-content: center;
  margin: 0 auto;
}

#loginScale {
  display: flex;
  justify-content: center;
  margin-bottom: $l-size;
}