//Colors
$blue: #626980;
$dark-grey: #323330;
$gold: #f5da55;
$grey: #3b3c38;
$light-grey: #b7b8b7;
$off-white: #f7f7f7;

//Font Size
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 4.5rem;
